# Python Basics

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
pwd

'C:\\Users\\sarth'

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 2AF0-C613

 Directory of C:\Users\sarth

09/04/2021  10:43    <DIR>          .
09/04/2021  10:43    <DIR>          ..
09/04/2021  12:14    <DIR>          .conda
09/04/2021  10:15                60 .condarc
09/11/2020  18:58    <DIR>          .idlerc
09/04/2021  10:35    <DIR>          .ipynb_checkpoints
10/11/2020  16:29    <DIR>          .ipython
18/12/2020  12:39    <DIR>          .jupyter
09/04/2021  10:21                24 .python_history
08/10/2020  18:14    <DIR>          3D Objects
19/10/2020  10:52    <DIR>          anaconda3
09/10/2020  22:44    <DIR>          ansel
08/10/2020  18:14    <DIR>          Contacts
08/10/2020  18:16    <DIR>          Documents
09/04/2021  11:06    <DIR>          Downloads
08/10/2020  18:19    <DIR>          Favorites
08/10/2020  19:32    <DIR>          Intel
08/10/2020  18:14    <DIR>          Links
01/12/2020  12:35    <DIR>          Microsoft
08/10/2020  18:14    <DIR>          Music
23/03/2021  12:24    <DIR>          OneDrive
08/04/2021  21:11            23,044 python basic.ipynb
24/03/2021  18:55    <DIR>          Saved Games
08/10/2020  18:15    <DIR>          Searches
09/04/2021  10:43             2,322 Untitled.ipynb
09/01/2021  12:15                 0 untitled.txt
09/04/2021  10:11    <DIR>          Videos
               5 File(s)         25,450 bytes
              22 Dir(s)  89,763,487,744 bytes free

In [4]:
print("this is my first python program")

this is my first python program

In [5]:
print"this is my first python program"

SyntaxError: invalid syntax (<ipython-input-5-6fbb271ec08e>, line 1)

In [7]:
#this is a single comment line

In [9]:
""""sd
sd - used for multi line comment
sd
sd"""

'"sd\nsd - used for multi line comment\nsd\nsd'

In [11]:
a=10
a

10

In [13]:
type(a)

int

In [18]:
b="sar"
b

'sar'

Strings are allocated using " " or ' ' and the result will be out as ' '

In [17]:
type(b)

str

In [19]:
a= 45
b='sar'
print(b,a)

sar 45

Variables can be created in a single line, given in the example below

In [20]:
a,b,c = 45, 60.0,"Sarthak"

In [21]:
c

'Sarthak'

In [22]:
b

60.0

In [23]:
a

45

In [24]:
print(a,b,c)

45 60.0 Sarthak

In [25]:
-b =2345

SyntaxError: cannot assign to operator (<ipython-input-25-8e30fca851c9>, line 1)

In [26]:
_b = 2345

In [27]:
_b

2345

In [28]:
b& =  234

SyntaxError: invalid syntax (<ipython-input-28-eda84a976b35>, line 1)

In [29]:
b=True
c=False

In [30]:
type(b)
type(c)

bool

In [31]:
True + True + True + False + True

4

In [32]:
False - True + True

0

In [33]:
True / False

ZeroDivisionError: division by zero

In [34]:
n= 89 +78j

In [35]:
type(n)

complex

In [36]:
print(n)

(89+78j)

In [37]:
n.real

89.0

In [38]:
n.imag

78.0

j is the only method to represent complex number in python

In [39]:
1 + "sudh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
b = 1.0

In [41]:
a = 2

In [42]:
a + b

3.0

str() function is used to convert to values to string

In [43]:
str(1) + "sar"

'1sar'

string + string = stringstring-->concatenation

In [44]:
"sar" *2

'sarsar'

In [45]:
"sar" * "sar"

TypeError: can't multiply sequence by non-int of type 'str'

In [46]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [47]:
a= input()

10

In [48]:
a

'10'

input() function always returns a string

In [49]:
a= input("enter a string")

enter a string2345

In [50]:
type(a)

str

In [51]:
a= int(input("enter a string"))

enter a string2345

In [52]:
type(a)

int

In [55]:
m =6 + n
m

(95+78j)

In [59]:
str(m) + "sar"

'(95+78j)sar'

In [58]:
(2 + 2j) * (3 + 4j)

(-2+14j)

In [61]:
a =int(input("enter a number less than 34: "))

enter a number less than 34: 56

In [63]:
if a<34:
    print("data input is lesser than 34")
else:
    print("data is greater")

data is greater

! Indentation error

In [64]:
if a<34:
print("data input is lesser than 34")
else:
    print("data is greater")

IndentationError: expected an indented block (<ipython-input-64-b1cd10d90be1>, line 2)

In [66]:
a =int(input("enter a number less than 34: "))
if a<34:
    pass
    print("data input is lesser than 34")
else:
    print("data is greater")

enter a number less than 34: 23
data input is lesser than 34

In [68]:
if a<34:
    break
    print("data input is lesser than 34")
else:
    print("data is greater")

SyntaxError: 'break' outside loop (<ipython-input-68-7901d396cecc>, line 2)

In [69]:
a =int(input("enter a number less than 34: "))
if a<34:
    pass
    print("data input is lesser than 34")
elif a<100:
    print("data less than 100")
else:
    print("data is greater")

enter a number less than 34: 56
data less than 100

In [70]:
salary = int(input("enter you salary"))
if salary > 1000:
    print("i will go for a car")
elif salary >500:
    print("i will go for bike")
elif salary >100:
    print("i will bot buy anything")
else:
    print("i will do saving")

enter you salary43
i will do saving

In [71]:
salary > 5000

False

In [1]:
a=10
id(a)

140731856271424

In [3]:
a= 10
b =20

if a==10 and b==20:
    print("this is a valid statement")

this is a valid statement

In [4]:
a==10 and b==20

True

In [8]:
if a==10 and b>20:
    print("this is a valid statement")
elif a==10 and b<=20:
    print("this is a valid statment in elif")
else:
    print("b is not greater than 20")

this is a valid statment in elif

In [9]:
if a==10 or b>20:
    print("this is a valid statement")
elif a==10 or b<=20:
    print("this is a valid statment in elif")
else:
    print("b is not greater than 20")

this is a valid statement

In [12]:
initial_speed = 80
final_speed = 100

while initial_speed < final_speed:
    print("speed")
    initial_speed += 1

speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed
speed

In [14]:
initial_speed = 80
final_speed = 100
count = 1
while initial_speed < final_speed:
    print("speed")
    count = count + 1
    if count == 10:
        break

speed
speed
speed
speed
speed
speed
speed
speed
speed

In [16]:
notes = 5
i = 1

while i<notes:
    print(i)
    i +=1
else:
    print("in else")

1
2
3
4
in else

In [17]:
s="sar"

In [18]:
s[0]

's'

In [19]:
s[20]

IndexError: string index out of range

In [1]:
s= "my name is sarthak"

In [21]:
s[3:10]

'name is'

In [22]:
s[3:10:1]

'name is'

In [23]:
s[3:10:2]

'nm s'

In [24]:
s[10:3:1]

''

In [2]:
s[9:2:-1]

'si eman'

In [5]:
s[::-2]

'khrss mny'

In [6]:
s[::2]

'm aei ata'

In [7]:
s[2:-6]

' name is s'

In [8]:
s[2:-6:-2]

''

In [3]:
for i in s:
    print (i)
else:
    if i=='k':
        print("last character was:",i)
    print("this is else condition")

m
y

n
a
m
e

i
s

s
a
r
t
h
a
k
last character was: k
this is else condition

In [4]:
for i in s:
    if i=="n":
        break
    print (i)
else:
    if i=='k':
        print("last character was:",i)
    print("this is else condition")

m
y

In [6]:
for i in s:
    if i=="n":
        continue
    print (i)
    print("Sarthak")
else:
    if i=='k':
        print("last character was:",i)
    print("this is else condition")

m
Sarthak
y
Sarthak

Sarthak
a
Sarthak
m
Sarthak
e
Sarthak

Sarthak
i
Sarthak
s
Sarthak

Sarthak
s
Sarthak
a
Sarthak
r
Sarthak
t
Sarthak
h
Sarthak
a
Sarthak
k
Sarthak
last character was: k
this is else condition

In [8]:
s = "ineuron"
ss= ""
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]

In [9]:
ss

'ieuro'

In [31]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ",end="")
    print("\t")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [21]:
print("study tonight",end=" ")
print("is awesome",end="\n")
print("very good")

study tonight is awesome
very good

In [24]:
print ("apple","\n")
print ("Orange")

apple

Orange

In [25]:
print ("apple","\t")
print ("Orange")

apple
Orange

In [27]:
print ("apple","\r")
print ("Orange")

apple
Orange

In [17]:
n=int(input("enter number of Rows:"))
for i in range(0,n):
    for j in range (0,i):
        print(" ",end="")
        
    for j in range(0,n-i):
        print("* ",end="")
    print("\t")

enter number of Rows:10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [44]:
n=int(input("enter number of Rows:"))
i=1
j=1
k=n-1
while i <=n:
    while (j==i):
        print (" " * k,end="")
        j += 1
    print ("* " * i, end="")
    print("\t")
    i +=1
    k -=1

enter number of Rows:10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [47]:
n=int(input("enter number of Rows:"))
i=1
k=n-1
while i <=n:
    print (" " * k,end="")
    print ("* " * i, end="")
    print("\t")
    i +=1
    k -=1

enter number of Rows:10
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [48]:
l1=[]

In [49]:
l2 = list()

In [51]:
type(l1)

list

In [52]:
type(l2)

list

In [55]:
l =["sarthak",1223,True,5+5j,12.0,[1,2,3,4,"ass"]]
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'float'>
<class 'list'>

In [56]:
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == str:
                print (j)

ass

In [57]:
l[8:3:1]

[]

In [59]:
l[8:3:-1]

[[1, 2, 3, 4, 'ass'], 12.0]

In [60]:
l[8:-3:-1]

[[1, 2, 3, 4, 'ass'], 12.0]

In [61]:
l[8:-3:1]

[]

In [62]:
range(10)

range(0, 10)

In [63]:
print(range(10))

range(0, 10)

In [64]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [68]:
l="sarthak"
for i in l:
    print(i,"\t")

s
a
r
t
h
a
k

In [69]:
l="sarthak"
for i in l:
    print(i,"\n")

s

a

r

t

h

a

k

In [70]:
l="sarthak"
for i in l:
    print(i,"\r")

s
a
r
t
h
a
k

In [73]:
print("sar\rthak")

thak

In [74]:
print("sar\tthak")

sar	thak

In [55]:
s="my name is sarthaks,name is ineuron,sarthak is my name"

In [76]:
s[0]

'm'

In [77]:
len(s)

18

In [78]:
s[100]

IndexError: string index out of range

In [111]:
s[0:0]

''

In [83]:
for i in range(len(s)):
    print(s[i])

m
y

n
a
m
e

i
s

s
a
r
t
h
a
k

In [94]:
s.replace('s','S', 6)

'my name iS SarthakS'

In [95]:
s.find("m")

0

In [96]:
s.find("M")

-1

In [97]:
s.find("name")

3

In [2]:
s = input("enter the string you want to search:")
f = input("enter the sting you want to find:")
for i in range(len(s)):
    if (s[0:i+1].find(f)) > -1:
        j = i - len(f) + 1
        while j<=i:
            print("index of",s[j],"is",j)
#            print(s[0:i+1].find("name"))
            j+=1
        break

enter the string you want to search:my name is sarthaks,name is ineuron,sarthak is my name
enter the sting you want to find:sarthak
index of s is 11
index of a is 12
index of r is 13
index of t is 14
index of h is 15
index of a is 16
index of k is 17

In [134]:
s.count("m")

5

In [56]:
s.count("sarthak")

2

In [136]:
s.split()

['my',
 'name',
 'is',
 'Sarthaks,name',
 'is',
 'Ineuron,Sarthak',
 'is',
 'my',
 'name']

In [137]:
s.split(",")

['my name is Sarthaks', 'name is Ineuron', 'Sarthak is my name']

In [138]:
s.split("na")

['my ', 'me is Sarthaks,', 'me is Ineuron,Sarthak is my ', 'me']

In [139]:
s.upper()

'MY NAME IS SARTHAKS,NAME IS INEURON,SARTHAK IS MY NAME'

In [140]:
s.lower()

'my name is sarthaks,name is ineuron,sarthak is my name'

In [141]:
s.swapcase()

'MY NAME IS sARTHAKS,NAME IS iNEURON,sARTHAK IS MY NAME'

In [142]:
"-".join(s)

'm-y- -n-a-m-e- -i-s- -S-a-r-t-h-a-k-s-,-n-a-m-e- -i-s- -I-n-e-u-r-o-n-,-S-a-r-t-h-a-k- -i-s- -m-y- -n-a-m-e'

In [143]:
list(reversed(s))

['e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm',
 ' ',
 's',
 'i',
 ' ',
 'k',
 'a',
 'h',
 't',
 'r',
 'a',
 'S',
 ',',
 'n',
 'o',
 'r',
 'u',
 'e',
 'n',
 'I',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ',',
 's',
 'k',
 'a',
 'h',
 't',
 'r',
 'a',
 'S',
 ' ',
 's',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'n',
 ' ',
 'y',
 'm']

In [144]:
print(reversed(s))

<reversed object at 0x0000029C375A32E0>

In [145]:
s = "    ksarkthak  "

s.strip()

'ksarkthak'

In [148]:
s.lstrip(" k ")

'sarkthak  '

In [149]:
s.rstrip(" k ")

'    ksarktha'

In [150]:
s="sarthak"

In [154]:
s.center(20,"b")

'bbbbbbsarthakbbbbbbb'

In [15]:
A ="we all are a part of Full Stack"
A = A.lower()
B=""
print(A)
count_a=A.count("a")
print("total nbr of a's:",count_a)
for i in range(len(A)):
    if A[i] == "a":
        print("index of a is:",i)
        B=B+A[i].replace("a","ineruon")
    else:
        B= B + A[i]
print(B)
print(A.split())

we all are a part of full stack
total nbr of a's: 5
index of a is: 3
index of a is: 7
index of a is: 11
index of a is: 14
index of a is: 28
we ineruonll ineruonre ineruon pineruonrt of full stineruonck
['we', 'all', 'are', 'a', 'part', 'of', 'full', 'stack']

In [166]:
range(len(s))

range(0, 31)

In [19]:
A ="we all are a part of Full Stack"
A = A.lower()
B=""
print(A)
count_a=A.count("a")
print("total nbr of a's:",count_a)
for i in range(len(A)):
    if A[i].find("a") > -1:
        print("index of a is:",i)
B=A.replace("a","ineruon")
print(B)
print(B.split())

we all are a part of full stack
total nbr of a's: 5
index of a is: 3
index of a is: 7
index of a is: 11
index of a is: 14
index of a is: 28
we ineruonll ineruonre ineruon pineruonrt of full stineruonck
['we', 'ineruonll', 'ineruonre', 'ineruon', 'pineruonrt', 'of', 'full', 'stineruonck']

In [20]:
n = "ineuron"
v = "AaEeIiOoUu"

for i in n:
    if i in v:
        print ("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [26]:
s = input("enter the string for pallindrome check")
s_reverse = ""
for i in range(1,len(s)+1):
    s_reverse = s_reverse + s[-i]

if s == s_reverse:
    print ("the string is pallindrome")
else:
    print ("the string is not pallindrome")

enter the string for pallindrome checkarunachal
lahcanura
the string is not pallindrome

In [20]:
l = [34,"sarthak",3.14,["das","kumar",21,21,21],True,21]

In [2]:
s = "ineuron"

In [29]:
l+s

TypeError: can only concatenate list (not "str") to list

In [30]:
s=list(s)

In [31]:
print(s)

['i', 'n', 'e', 'u', 'r', 'o', 'n']

In [32]:
l+s

[34, 'sarthak', 3.14, ['das', 'kumar', 21], 'i', 'n', 'e', 'u', 'r', 'o', 'n']

In [34]:
l.append(s)

In [35]:
print(l)

[34, 'sarthak', 3.14, ['das', 'kumar', 21], 'ineuron']

In [36]:
l[-1]

'ineuron'

In [37]:
len(l)

5

In [38]:
l[3][1]

'kumar'

In [42]:
'kumar' in l[3]

True

In [43]:
'kumar' in l

False

In [4]:
l*2

[34,
 'sarthak',
 3.14,
 ['das', 'kumar', 21],
 True,
 34,
 'sarthak',
 3.14,
 ['das', 'kumar', 21],
 True]

In [5]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [6]:
l1=[2,100,34,200,2]

In [7]:
max(l1)

200

In [8]:
max("sarthak","Z")

'sarthak'

In [9]:
min("sarthak","Z")

'Z'

In [10]:
l1.insert(0,"sarthak")

In [11]:
l1

['sarthak', 2, 100, 34, 200, 2]

In [12]:
l1.insert(-1,"kumar")

In [13]:
l1

['sarthak', 2, 100, 34, 200, 'kumar', 2]

In [14]:
l1.count(2)

2

In [15]:
l1.count("2")

0

In [17]:
l.count(21)

1

In [18]:
l

[34, 'sarthak', 3.14, ['das', 'kumar', 21], True, 21]

In [21]:
l[3].count(21)

3

In [22]:
l.extend("das")

In [23]:
l

[34, 'sarthak', 3.14, ['das', 'kumar', 21, 21, 21], True, 21, 'd', 'a', 's']

In [24]:
l.extend(47)

TypeError: 'int' object is not iterable

In [25]:
l.extend("47")

In [26]:
l

[34,
 'sarthak',
 3.14,
 ['das', 'kumar', 21, 21, 21],
 True,
 21,
 'd',
 'a',
 's',
 '4',
 '7']

In [28]:
l.pop(-2)

's'

In [29]:
l

[34, 'sarthak', 3.14, ['das', 'kumar', 21, 21, 21], True, 21, 'd', 'a', '4']

In [30]:
l1 = [1,2,3,4]

In [35]:
l1.append([5,6,7])

In [36]:
l1

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7]]

In [37]:
l1.pop()

[5, 6, 7]

In [38]:
l1

[1, 2, 3, 4, [5, 6, 7]]

In [39]:
l1.extend([8,9,10])

In [40]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10]

In [41]:
l1.extend("abc")

In [42]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c']

In [44]:
l1.extend(["a",11,"jk"])

In [45]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c', 'a', 11, 'jk']

In [46]:
l1.extend((1,2,3))

In [47]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c', 'a', 11, 'jk', 1, 2, 3]

In [51]:
l1.pop()

1

In [52]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c', 'a', 11, 'jk']

In [53]:
l1.append(2)

In [54]:
l1.index(2)

1

In [57]:
l1

[1, 2, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c', 'a', 11, 'jk', 2]

In [58]:
l1.remove(2)

In [59]:
l1

[1, 3, 4, [5, 6, 7], 8, 9, 10, 'a', 'b', 'c', 'a', 11, 'jk', 2]

In [60]:
l.reverse()

In [61]:
l

['4', 'a', 'd', 21, True, ['das', 'kumar', 21, 21, 21], 3.14, 'sarthak', 34]

In [62]:
l1.reverse()

In [63]:
l1

[2, 'jk', 11, 'a', 'c', 'b', 'a', 10, 9, 8, [5, 6, 7], 4, 3, 1]

In [64]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [68]:
l

[2, 3, 3, 4, 45, 65, 'sarthak', 'sarthak']

In [69]:
l.remove(33)

ValueError: list.remove(x): x not in list

In [115]:
for i in range(len(l)):
    if type(l[i]) == list:
        for j in l[i]:
            if type(j) == str:
                print ("index of",j,"is",l[i].index(j))

index of ineuron is 3
index of a is 0
index of b is 1
index of c is 2
index of 1 is 0
index of das is 1

In [20]:
l=[[1,2,3,"ineuron"],[23,"a","b","c",1],"sarthak","kumar",4+5j,10,11]

In [ ]:
l.insert(2,["1","das","100"])

In [ ]:
l.append(["car","bus",23,"truck"])

In [21]:
for i in range(len(l)):
    j=0
    if type(l[i]) == list:
        while j < len(l[i]):
            if type(l[i][j]) == str:
                print ("index of",l[i][j],"is",l[i].index(l[i][j]))
                l[i].remove(l[i][j])
            else:
                j +=1
        if len(l[i]) >=2:
            print ("the 2nd position of {} conatains {}".format(l[i],l[i][1]))

index of ineuron is 3
the 2nd position of [1, 2, 3] conatains 2
index of a is 1
index of b is 1
index of c is 1
the 2nd position of [23, 1] conatains 1
index of 1 is 0
index of das is 0
index of 100 is 0
index of car is 0
index of bus is 0
index of truck is 1

In [163]:
l

[[1, 2, 3], [23, 1], [], 'sarthak', 'kumar', (4+5j), 10, 11, [23]]

In [22]:
l1=[1,2,3,4,5]

In [23]:
l1=[]

In [24]:
for i in 'sarthak':
    l1.append(i)

print(l1)

['s', 'a', 'r', 't', 'h', 'a', 'k']

In [26]:
[i for i in "sarthak"]

['s', 'a', 'r', 't', 'h', 'a', 'k']

In [27]:
[[i] for i in "sarthak"]

[['s'], ['a'], ['r'], ['t'], ['h'], ['a'], ['k']]

In [28]:
l = []
for i in range(10):
    if i%2 ==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [30]:
[i for i in range(10) if i%2 ==0]

[0, 2, 4, 6, 8]

In [33]:
["odd" if i%2 !=0 else "even" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [35]:
mat = []
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [37]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [38]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [39]:
[i for i in range(8) if i%2==0 and i%3==0]

[0, 6]

In [40]:
[i for i in range(8) if i%2==0 or i%3==0]

[0, 2, 3, 4, 6]

In [41]:
["yes" if i==1 else "no" if i==2 else "test" for i in range(10)]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [42]:
t = ()

In [43]:
type(t)

tuple

In [49]:
t1=(2,3,[1,2,3],"sarthak",4,5,3,2,2,2)

In [50]:
t1

(2, 3, [1, 2, 3], 'sarthak', 4, 5, 3, 2, 2, 2)

In [46]:
l1=[1,2]

In [48]:
l1[2]

IndexError: list index out of range

In [51]:
t1.count(2)

4

In [53]:
t1.index(2)

0

In [55]:
type(t1)==tuple

True

In [56]:
t2=(8,9,10)

In [58]:
t1+t2

(2, 3, [1, 2, 3], 'sarthak', 4, 5, 3, 2, 2, 2, 8, 9, 10)

In [59]:
11 not in t2

True

In [60]:
11 in t2

False

In [61]:
x= set()

In [62]:
type(x)

set

In [63]:
l=[2,3,3,4,45,65,"sarthak","sarthak"]

In [64]:
x=set(l)

In [65]:
x

{2, 3, 4, 45, 65, 'sarthak'}

In [66]:
x[0]

TypeError: 'set' object is not subscriptable

In [67]:
len(x)

6

In [89]:
x={"name":"sarthak","list":[1,2,3],"tuple":(4,5,6),4:"kumar","d1":{"k1":[10,11,12],2:"das"}}

In [90]:
x

{'name': 'sarthak',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 4: 'kumar',
 'd1': {'k1': [10, 11, 12], 2: 'das'}}

In [75]:
x[4]

'kumar'

In [76]:
type(x)

dict

In [84]:
x["d1"].keys()

dict_keys(['k1', 2])

In [78]:
x.values()

dict_values(['sarthak', [1, 2, 3], (4, 5, 6), 'kumar'])

In [86]:
x["tuple"][2]

6

In [92]:
x["d1"]["k1"][0]

10

In [98]:
y=dict()

In [99]:
type(y)

dict

In [95]:
e={56:{45,78,89}}
print(list(e[56]))
list(e[56])[0]

[89, 45, 78]

89

In [109]:
i = input("Enter a Paragraph:")
list1=i.split(" ")
set1=set(list1)
tup1=tuple(set1)
dict2=dict.fromkeys(set1,"sarthak")
print(dict2.keys())

Enter a Paragraph:The update() method updates the dictionary with the elements from the another dictionary object or from an iterable of key/value pairs.
dict_keys(['the', 'method', 'or', 'key/value', 'dictionary', 'updates', 'object', 'another', 'an', 'iterable', 'of', 'from', 'pairs.', 'elements', 'update()', 'The', 'with'])

In [ ]:
dict1.popitem