In [1]:
# to install the python to mysql connector
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\sarth\anaconda3\lib\site-packages (8.0.24)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.0-py2.py3-none-any.whl (173 kB)
Requirement already satisfied: six>=1.9 in c:\users\sarth\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: protobuf
Successfully installed protobuf-3.17.0

In [12]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="Monarch@8899",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sql_hr',), ('sql_inventory',), ('sql_invoicing',), ('sql_store',), ('sys',), ('world',)]

In [3]:
import mysql.connector as connection

In [7]:
mydb = connection.connect(host="localhost",user="root", passwd="Monarch@8899",use_pure=True) # if any of the three arguments are incorrect 
                        # then it will throw error

In [8]:
cursor = mydb.cursor() # cursor() function points to the first postion in the database

In [9]:
cursor.execute("show databases")# show databases is a command that shows the database in my system

In [10]:
print(cursor.fetchall()) ## fetchall() command fetches all the databases in listof tuples format

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sql_hr',), ('sql_inventory',), ('sql_invoicing',), ('sql_store',), ('sys',), ('world',)]

In [13]:
cursor.execute("create database sarthak")

In [14]:
cursor.execute("show databases")
print(cursor.fetchall())

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sarthak',), ('sql_hr',), ('sql_inventory',), ('sql_invoicing',), ('sql_store',), ('sys',), ('world',)]

In [15]:
##create Database

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Monarch@8899",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

In [18]:
# Create Table

import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Monarch@8899",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "CREATE TABLE StudentDetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [75]:
mydb.is_connected() # is to check whether the connection is up and running or not

False

In [24]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "INSERT INTO StudentDetails VALUES ('1131','John','Wick','1997-12-08','Eleventh','A')," \
                                               "('1133','Suman','Gupta','1996-01-21','Eleventh','B')"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Values inserted into the table!!")
    mydb.commit()
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
Values inserted into the table!!

In [ ]:
mydb.commit() # to commit or make changes to the database

In [25]:
import mysql.connector as connection


try:
    mydb = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    query = "Select * from StudentDetails;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    for result in cursor.fetchall():
        print(result)
    mydb.close() #close the connection


except Exception as e:
    #mydb.close()
    print(str(e))

True
(1131, 'John', 'Wick', datetime.date(1997, 12, 8), 'Eleventh', 'A')
(1132, 'Sachin', 'Kumar', datetime.date(1997, 11, 11), 'Eleventh', 'A')
(1133, 'Suman', 'Gupta', datetime.date(1996, 1, 21), 'Eleventh', 'B')

In [26]:
mydb = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Mysql",use_pure=True)

In [27]:
cursor = mydb.cursor()

In [30]:
cursor.execute("select firstname from studentdetails")
for result in cursor.fetchall():
        print(result)
mydb.close() #close the connection

('John',)
('Sachin',)
('Suman',)

In [32]:
import mysql.connector as connection
import pandas as pd

try:

    mydb = connection.connect(host="localhost", database='Sarthak', user="root", passwd="Mysql", use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())
    query = "Select * from Studentdetails;"
    result_dataFrame = pd.read_sql(query,mydb)
    print(result_dataFrame)

    mydb.close()  # close the connection

except Exception as e:
    #mydb.close()
    print(str(e))

True
   Studentid FirstName LastName RegistrationDate     Class Section
0       1131      John     Wick       1997-12-08  Eleventh       A
1       1132    Sachin    Kumar       1997-11-11  Eleventh       A
2       1133     Suman    Gupta       1996-01-21  Eleventh       B

In [34]:
result_dataFrame.to_csv('mydata.csv')

In [2]:
import mysql.connector as connection
curr = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Mysql",use_pure=True)

In [3]:
cursor = curr.cursor()
#cursor.execute("create table Studentdetails_bkp(Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
#            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))")

In [78]:
data = pd.read_csv('mydata.csv')

In [39]:
data.to_sql('Studentdetails_bkp',curr,'Sarthak')

C:\Users\sarth\anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Not all parameters were used in the SQL statement

In [ ]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Mysql",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    #create a new database
    query = "Create database Sarthak;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Monarch@8899", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS Studentdetails_bkp(Studentid INT(10) AUTO_INCREMENT PRIMARY KEY,FirstName VARCHAR(60)," \
            "LastName VARCHAR(60), RegistrationDate DATE,Class Varchar(20), Section Varchar(10))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('mydata.csv', "r") as f:
        next(f)
        students_data = csv.reader(f, delimiter="\n")
        for line in enumerate(students_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO Studentdetails_bkp values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

In [41]:
enumerate(data)

In [30]:
import mysql.connector as connection
from datetime import datetime
import csv

curr = connection.connect(host="localhost", database = 'Sarthak',user="root", passwd="Mysql",use_pure=True)
cursor = curr.cursor()

with open('mydata.csv', "r") as f:
        next(f)
        cursor = curr.cursor()
        students_data = csv.reader(f)
        
        query = 'INSERT INTO Studentdetails_bkp' \
                '(Studentid, FirstName, LastName, RegistrationDate, Class, Section)' \
                'VALUES (%s, %s, %s, %s, %s, %s)'
                
        for line in students_data:
            
            ## splitting the data and formatting it as per the table design
        
            student_id = int(line[0])
            first_name = line[1]
            last_name = line[2]
            print(line[3])
            registration_date = datetime.strptime(line[3],'%d/%m/%Y').strftime('%Y-%m-%d')
            stu_class = line[4]
            section = line[5]
        
            cursor.execute(query,(student_id, first_name, last_name, registration_date, stu_class, section))
        curr.commit()
        curr.close()

08/12/1997
11/11/1997
21/01/1996

In [29]:
curr.close()

In [25]:
curr.is_connected()

False

In [12]:
a,b = [1,2]
print(a,b)

1 2

In [11]:
def test(*args):
    print(str(args[0]))

a=test([1,223])

a,b = [1,2]
print(a,b)

[1, 223]

In [14]:
import mysql.connector as connection
import csv

def create_database(database_name):
    try:
        mydb = connection.connect(host="localhost", user="root", passwd="Mysql",use_pure=True)
        
#        print(mydb.is_connected()) #check if the connection is established
        query = "CREATE DATABASE {};".format(database_name)
        cursor = mydb.cursor() # set the cursor to the starting location
        cursor.execute(query)
#        print("Database Created!!")
        mydb.close() # close the db connection
    except Exception as e:
        mydb.close()
        print(str(e))

        
def create_table(table_name):
    try:
        mydb = connection.connect(host="localhost", database="UCI",user="root", passwd="Mysql",use_pure=True)
        
#        print(mydb.is_connected())
        query = "CREATE TABLE IF NOT EXISTS {}(Chiral_Indice_n INT(5), Chiral_Indice_m INT(5), Initial_AC_u INT(10)," \
                "Initial_AC_v INT(10), Initial_AC_w INT(10), Calc_AC_u INT(10), Calc_AC_v INT(10)," \
                "Calc_AC_w INT(10));".format(table_name)
#        print(query)       
        cursor = mydb.cursor()
        cursor.execute(query)
#        print("Table Created!!")
        mydb.close()
    except Exception as e:
        mydb.close()
        print(str(e))

        
def insert_into_table(table_name, insert_list):
    try:
        mydb = connection.connect(host="localhost", database="UCI",user="root", passwd="Mysql",use_pure=True)
        
#        print(mydb.is_connected())
        query = 'INSERT INTO {}(' \
                'Chiral_Indice_n, Chiral_Indice_m, Initial_AC_u, Initial_AC_v, Initial_AC_w, Calc_AC_u, Calc_AC_v, Calc_AC_w)' \
                'VALUES (%s,%s,%s,%s,%s,%s,%s,%s);'.format(table_name)
        
        cursor = mydb.cursor()
        cursor.execute(query,tuple(insert_list))
#        print("Values inserted!!")
        mydb.commit()
        mydb.close()
    except Exception as e:
        mydb.close()
        print(str(e))


database = create_database("UCI")
table = create_table("CarbonNano")


with open('D:\\01 Documents\\01 Learning\\07 Data Science-iNeuron\\02 SQL\\carbon_nanotubes.csv', "r") as my_file:
    next(my_file)
    nano_data = csv.reader(my_file)

#based on the data format the below codes are written, incase of any changes to the incoming format below code needs to be modified
    for datas in nano_data:
        split_list=[]
        count = 0
        final_list = []
        for items in datas:
            split_list.append(items.split(';'))
            if count < 6:
                split_list[count].pop()
                count += 1
    
        [final_list.extend(value) for value in split_list]
        insert_table = insert_into_table("CarbonNano", final_list)

CREATE TABLE IF NOT EXISTS CarbonNano(Chiral_Indice_n INT(5), Chiral_Indice_m INT(5), Initial_AC_u INT(10),Initial_AC_v INT(10), Initial_AC_w INT(10), Calc_AC_u INT(10), Calc_AC_v INT(10),Calc_AC_w INT(10));